@font-face {
    font-family: 'mona';
    src: url(Assets/Fonts/Mona-Sans.woff2);
}

@font-face {
    font-family: 'sherif';
    src: url(Assets/Fonts/unknown.woff2);
}

@font-face {
    font-family: 'amaze';
    src: url(Assets/Fonts/Franklin\ Gothic\ Demi.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'mona';
}

*::selection {
    display: none;
}

html,
body {
    height: 100dvh;
    width: 100vw;
}

#page {
    width: 100%;
    height: 100%;
    background: #f8f7f4;
    overflow-x: hidden;
}
/*................ NAVIGATIONS ..............*/
#navbar {
    height: 16%;
    width: 100%;
    padding: 0px 3vw;
    display: flex;
    align-items: center;
}

.logo {
    width: 7.2%;
    margin-bottom: 8px;
}

.logo img {
    width: 100%;
    height: 100%;
}

#navbar nav {
    margin-left: 2.8vw;
}

#navbar nav .nav-icon{
    display: none;
}

#navbar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.29vw;
}

#navbar nav ul li {
    list-style: none;
}

#navbar nav ul li a {
    text-decoration: none;
    font-size: 1.025vw;
    font-weight: 600;
    color: #0d0c22;
    transition: all 0.3s;
}

#navbar nav ul li a:hover {
    opacity: 0.7;
}

#navbar #log-on {
    display: flex;
    align-items: center;
    gap: 1.7vw;
    margin-left: 20vw;
}

#navbar #log-on form {
    position: relative;
}

#navbar #log-on form input {
    width: 17vw;
    height: 3.5vw;
    border: 0px;
    border-radius: 200px;
    padding-left: 3.3vw;
    font-size: 1.025vw;
}

#navbar #log-on form i {
    position: absolute;
    left: 9.5%;
    top: 30%;
    font-size: 1.260vw;
    color: gray;
}

#navbar #log-on form input::placeholder {
    font-size: 1.025vw;
    font-weight: 400;
}

#navbar #log-on form input:focus {
    outline: 0;
}

#navbar #log-on a {
    font-size: 1.025vw;
    font-weight: 600;
    text-decoration: none;
    color: #0d0c22;
}

#navbar #log-on #log-in {
    transition: all 0.3s;
}

#navbar #log-on #log-in:hover {
    opacity: 0.7;
}

#navbar #log-on a:nth-last-child(1) {
    background: #0d0c22;
    padding: 1.1vw 1.8vw;
    border-radius: 200px;
    color: #ffffff;
    position: relative;
}

.fade-hover-on::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f8f7f4;
    top: 0;
    left: 0;
    border-radius: 200px;
    opacity: 0;
    transition: all 0.3s;
}

.fade-hover-on:hover::after {
    opacity: 0.3;
}

/*................. HERO SECTION ...............*/
#hero {
    overflow-x: hidden;
}

#hero #home-header {
    width: 100vw;
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.9vh 4vw 0px 3vw;
}

#home-header #hero-msg {
    font-family: 'sherif';
    color: #3d3d4e;
    font-size: 1.180vw;
    font-weight: 600;
    padding: 0.65vw 1.1vw;
    border-radius: 200px;
}

.color-grad {
    background-image: linear-gradient(to bottom, #ffe882, #ff9558, #ffa9ae, #ff98c1, #bbaaff, #7ed4d0);
    background-size: 5000% 5000%;
    background-position: top;
    animation: color-circle 50s infinite alternate;
}

@keyframes color-circle {
    0% {
        background-position: top;
    }

    100% {
        background-position: bottom;
    }
}

#hero h1 {
    font-family: 'sherif';
    font-size: 5.23vw;
    font-weight: 400;
    width: 70%;
    text-align: center;
    margin-top: 3vw;
    color: #0d0c22;
    line-height: 5.6vw;
}

#hero #hero-subheading {
    font-size: 1.47vw;
    margin-top: 2.2vw;
    font-weight: 500;
}

#hero #hero-button {
    height: 56px;
    padding: 24px;
    border-radius: 200px;
    background: #0d0c22;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f8f7f4;
    font-size: 14px;
    font-weight: 600;
    margin-top: 36px;
}


/*............... HERO MARQUE ..............*/
#hero #hero-marque {
    width: 271.121vw;
    height: fit-content;
    white-space: nowrap;
    margin-top: 12px;
}

.autoscroll-marque {
    animation: marque-scroll 70s infinite linear;
}

@keyframes marque-scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

#hero-marque .container {
    display: inline-block;
    width: fit-content;
    height: 100%;
    background: #f8f7f4;
}

#hero-marque .container .profile-card {
    display: inline-block;
    height: 340px;
    width: 273px;
    border-radius: 35px;
    margin-right: 32px;
    overflow: hidden;
    position: relative;
}

#hero-marque .profile-card::before {
    content: '';
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0) 60%);
    opacity: 0.2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#hero-marque .profile-card img,
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero-marque .overlay {
    width: 100%;
    height: fit-content;
    padding: 6% 8%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 2;
}

#hero-marque .overlay div {
    font-size: 13px;
    color: #f8f7f4;
    font-weight: 600;
}

#hero-marque .overlay ul {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

#hero-marque .overlay ul li {
    list-style: none;
    padding: 6px 12px;
    font-size: 11px;
    font-weight: 700;
    color: #f8f7f4;
    border-radius: 200px;
    border: 1px solid #f8f7f4;
}

/*........................ HOME FEED SECTION .......................*/
#page .home-feed {
    width: 100%;
    margin-top: 32px;
    padding: 5.5vw;
    padding-bottom: 10vw;
    background-image: linear-gradient(#f8f7f4, #ffffff 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-feed #heading {
    font-size: 3.5vw;
    color: #0d0c22;
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-feed ol {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 36px;
    margin-top: 4vw;
}

.home-feed ol li {
    list-style: none;
    height: 240px;
    position: relative;
}

.home-feed .card {
    width: 100%;
    height: 85%;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.home-feed .card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#f8f7f400, rgba(0, 0, 0, 0.445));
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: 1;
}

.home-feed .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-feed .card .overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    bottom: 0;
    left: 0;
    color: #ffffff;
    padding: 0px 1.8vw;
    font-weight: 700;
    background-image: linear-gradient(#f8f7f400, rgba(0, 0, 0, 0.568) 100%);
    opacity: 0;
    transition: all 0.3s;
    z-index: 2;
}

.home-feed .card .overlay h6 {
    width: 53%;
    font-size: 17px;
    font-weight: 500;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.home-feed .card .overlay i {
    font-weight: 500;
    font-size: 17px;
    height: 39px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f7f4;
    border-radius: 50%;
    color: #0d0c22;
    transition: all 0.3s;
}

.home-feed .card:hover .overlay {
    opacity: 1;
}

.home-feed .author {
    width: 100%;
    height: 15%;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
}

.home-feed .author .left {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    height: 100%;
    gap: 8px;
}

.home-feed .author .right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home-feed .author img {
    height: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.home-feed .author span {
    font-size: 0.88vw;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 2px;
    color: #313131;
}

.home-feed .author .premium {
    font-size: 10px;
    font-weight: 700;
    padding: 2px 3px;
    background: rgb(173, 173, 173);
    color: #f8f7f4;
    border-radius: 3px;
    transition: all 0.3s;
    cursor: pointer;
    margin-right: 10px;
}

.home-feed .author .premium:hover {
    background: #0d0c22;
}

.home-feed .author .like {
    transition: all 0.3s;
    cursor: pointer;
}

.home-feed .author .like:hover {
    color: #ff64d1;
}

.home-feed .author span {
    font-size: 12px;
}

.home-feed .author i {
    font-size: 17px;
    color: rgb(173, 173, 173);
}

/*................ HOME FEED BUTTON ..............*/
.home-feed #button {
    border-radius: 200px;
    border: 1px solid #0d0c22;
    width: fit-content;
    padding: 24px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 48px;
    color: #0d0c22;
    transition: all 0.3s;
    cursor: pointer;
}

.home-feed #button:hover {
    border: 1px solid #5e5e5e;
    color: #5e5e5e;
}

/*................. FOOTER HEADING ................*/
.footer-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 9vw;
    background: #ffda79;
}

.footer-heading h2 {
    font-family: 'sherif';
    font-size: 4.7vw;
    width: 42%;
    font-weight: 400;
    line-height: 5.3vw;
    color: #0d0c22;
}

.footer-heading #sub-head {
    width: 52%;
    font-size: 1.45vw;
    text-align: center;
    line-height: 2.6vw;
    margin-top: 2vw;
}

.footer-heading .button {
    display: flex;
    gap: 16px;
    margin-top: 3vw;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-heading .button a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8f7f4;
    background: #0d0c22;
    font-size: 14px;
    font-weight: 600;
    height: 56px;
    padding: 24px;
    border-radius: 200px;
    position: relative;
}

.footer-heading .button #btn2 {
    background: #f8f7f4;
    color: #0d0c22;
}

.footer-heading #link {
    font-family: 'mona';
    font-size: 1.4vw;
    margin-top: 4vw;
}

.footer-heading #link a {
    color: #0d0c22;
    text-decoration: none;
    text-decoration: 2px underline;
}

/*............... FOOTER MARQUE ...............*/
#footer-marque {
    width: 129.1vw;
    height: fit-content;
    margin-top: 3vw;
    animation: marque-scroll 25s infinite linear;
    transition: all 0.5s;
}

#footer-marque:hover {
    animation-play-state: paused;
}

#footer-marque .container {
    width: fit-content;
    height: fit-content;
    padding: 30px 0px;
    display: flex;
    gap: 32px;
}

#footer-marque .card-container {
    width: 220px;
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}

.card-container .feed-card {
    width: 200px;
    height: 150px;
    position: relative;
}

.card-container .feed-card:hover .bg {
    top: -4px;
    right: -4px;
    box-shadow: 3px -3px 1px 1px rgb(255, 245, 208);
}

.card-container .feed-card:hover #bg2 {
    top: -10px;
    right: -10px;
    box-shadow: 4px -4px 1px 1px rgb(214, 217, 255);
}

.feed-card img {
    border-radius: 5px;
    position: relative;
    z-index: 3;
}

.feed-card .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #f8f7f4;
    z-index: 2;
    top: -3px;
    right: -3px;
    box-shadow: 2px -2px 1px 1px rgb(255, 245, 208);
    transition: all 0.3s;
}

.feed-card #bg2 {
    top: -8px;
    right: -8px;
    box-shadow: 2px -2px 1px 1px rgb(214, 217, 255);
    z-index: 1;
    border-radius: 8px;
}

.card-container .name {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: end;
    font-size: 14px;
    font-weight: 500;
    color: #0d0c22;
}

/*.................. FOOTER ..................*/
#footer {
    padding: 3.5vw 5vw;
    width: 100%;
}

.ftr-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ftr-nav1 img {
    width: 104px;
}

#links ul {
    display: flex;
    gap: 48px;
}

#links ul li {
    list-style: none;
}

#links ul li a {
    text-decoration: none;
    color: #0d0c22;
    font-size: 14px;
    font-weight: 600;
}

#ftr-nav1 #socials {
    display: flex;
    gap: 1vw;
}

#ftr-nav1 #socials a {
    text-decoration: none;
    color: #0d0c22;
    font-size: 1.8vw;
}

#ftr-nav2 {
    margin-top: 80px;
}

#ftr-nav2 ul {
    display: flex;
    gap: 1.5vw;
}

#ftr-nav2 ul li {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    color: #5e5e5e;
}

#ftr-nav2 ul li a {
    text-decoration: none;
    color: #5e5e5e;
}

/*!................ MEDIA QUERIES ..............*/

@media (max-width: 600px) {

    /*................ NAVIGATIONS ..............*/
#navbar {
    height: fit-content;
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

.logo {
    width: 104px;
    margin-left: 56px;
}

#navbar nav {
    position: absolute;
    cursor: pointer;
}
#navbar nav .nav-icon{
    display: block;
    font-size: 24px;
}

#navbar nav ul {
    display: none;
}

#navbar #log-on {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 1.7vw;
    margin-left: 25vw;
}

#navbar #log-on form {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    left: 58vw;
}

#navbar #log-on form input {
    display: none;
}

#navbar #log-on form i {
    font-size: 22px;
    color: #0d0c22;
    position: initial;
}

#navbar #log-on form input::placeholder {
    font-size: 1.025vw;
    font-weight: 400;
}

#navbar #log-on form input:focus {
    outline: 0;
}

#navbar #log-on a {
    font-size: 14px;
    display: flex;
    align-items: center;
}

#navbar #log-on #log-in {
    display: none;
}

#navbar #log-on a:nth-last-child(1) {
    background: #0d0c22;
    height: 48px;
    padding: 24px;
    border-radius: 200px;
    color: #ffffff;
    position: relative;
}

.fade-hover-on::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f8f7f4;
    top: 0;
    left: 0;
    border-radius: 200px;
    opacity: 0;
    transition: all 0.3s;
}

.fade-hover-on:hover::after {
    opacity: 0.3;
}

    /*................. HERO SECTION ...............*/
#hero {
    overflow-x: hidden;
}

#hero #home-header {
    width: 100vw;
    height: fit-content;
    padding: 80px 24px 56px 24px;
}

#home-header #hero-msg {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 9999999999px;
}

#hero h1 {
    font-family: 'sherif';
    font-size: 48px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin-top: 3vw;
    color: #0d0c22;
    line-height: 56px;
}

#hero #hero-subheading {
    font-size: 18px;
    text-align: center;
    line-height: 32px;
    margin-top: 2.2vw;
    font-weight: 500;
}

#hero #hero-button {
    margin-top: 36px;
}


    /*............. HERO MARQUE .............*/

    #hero #hero-marque {
        width: 2948px;
        margin-top: 12px;
    }

    #hero-marque .container .profile-card {
        height: 272px;
        width: 218px;
        border-radius: 26px;
        margin-right: 24px;
    }

    #hero-marque .overlay ul {
        gap: 5px;
    }
    
    #hero-marque .overlay ul li {
        padding: 6px 10px;
        font-size: 10px;
    }
    
    /*........................ HOME FEED SECTION .......................*/
    #page .home-feed {
        width: 100%;
        margin-top: 32px;
        padding: 5.5vw;
        padding-bottom: 4vh;
        padding-top: 10vh;
        background-image: linear-gradient(#f8f7f4, #ffffff 1%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-feed #heading {
        font-size: 35px;
        text-align: center;
        line-height: 41px;
    }

    .home-feed ol li {
        height: 310px;
    }

    .home-feed .card:hover .overlay {
        opacity: 0;
    }

    /*................. FOOTER HEADING ................*/
    .footer-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 95vh;
        padding: 25px;
        background: #ffda79;
    }

    .footer-heading h2 {
        font-size: 40px;
        width: 100%;
        text-align: center;
        line-height: 48px;
    }

    .footer-heading #sub-head {
        width: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        margin-top: 36px;
    }

    .footer-heading .button {
        display: flex;
        gap: 16px;
        margin-top: 36px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-heading #link {
        font-size: 20px;
        margin-top: 56px;
        font-weight: 400;
    }

    /*............... FOOTER MARQUE ...............*/
    #footer-marque {
        width: 100vw;
        margin-top: 16px;
        animation: avc;
    }

    #footer-marque .container {
        width: 100vw;
        padding: 30px 20px;
        overflow: auto;
    }

    /*.................. FOOTER ..................*/
    #footer {
        margin-top: 24px;
        padding: 36px 5vw;
    }

    .ftr-nav {
        flex-direction: column;
        gap: 16px;
        align-items: center;
        justify-content: center;
    }
    #ftr-nav1 img {
        margin: 0;
    }
    #links ul {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
        line-height: 12px;
    }

    #links ul li {
        list-style: none;
    }

    #ftr-nav1 #socials {
        gap: 12px;
    }

    #ftr-nav1 #socials a {
        font-size: 24px;
    }

    #ftr-nav2 {
        margin-top: 80px;
        gap: 24px;
    }

    #ftr-nav2 ul {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
        line-height: 6px;
    }

}
